<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{.Theme}}" />
        <title>{{.Title}}</title>
    </head>
    <body>
        <div id="title">
            <h1>{{.Title}}</h1>
        </div>
        <div id="metadata">
            <p id="author-name">{{.AuthorName}}</p>
            <p id="data-published">{{.PublishedDate}}</p>
        </div>
        <article>{{.Blog}}</article>
    </body>
</html>
