<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{.Theme}}" />
        <title>{{.Title}}</title>
        <script>
            const source = new EventSource("/events");
            source.onmessage = (e) => {
                console.log("got message", e.data);
                if (e.data === "reload") {
                    reload();
                } else if (e.data === "close") {
                    source.close();
                }
            };
            source.onerror = (err) => {
                console.error("SSE error:", err);
            };

            function reload() {
                const url = window.location.href;
                console.log("url", url);
                fetch(url, {
                    method: "GET",
                })
                    .then((response) => {
                        if (!response.ok)
                            throw new Error("Network response was not ok");
                        return response.text();
                    })
                    .then((data) => {
                        const parser = new DOMParser();
                        const doc = parser.parseFromString(data, "text/html");
                        console.log("Fetched HTML");
                        const query = "#main-content";
                        document.querySelector(query).innerHTML =
                            doc.querySelector(query).innerHTML;
                    })
                    .catch((err) => {
                        console.error(err);
                    });
            }
        </script>
    </head>
    <body>
        <div id="title">
            <h1>{{.Title}}</h1>
        </div>
        <div id="metadata">
            <p id="author-name">{{.AuthorName}}</p>
            <p id="data-published">{{.PublishedDate}}</p>
        </div>
        <article id="main-content">{{.Blog}}</article>
    </body>
</html>
