<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{.SiteTitle}}</title>
        <link rel="stylesheet" href="{{.Theme}}" />
    </head>
    <body>
        <div id="site-title">
            <a href="/">{{.SiteTitle}}</a>
        </div>

        <div id="blog-list">
            {{range .Blogs}}
            <a class="blog-item" href="{{.Link}}">
                <p class="blog-item-title">{{.Title}}</p>
                <p class="blog-item-date">{{.Date}}</p>
            </a>
            {{end}}
        </div>
    </body>
</html>
